<h6>Nettleseren din er utdatert!</h6>
<p>Du burde oppdatere din nettleser for å oppleve både denne og flere andre nettsteder best mulig. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com">Les mer om hvordan du kan oppdatere din nettleser.</a></p>
<p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>

