body {
    background: linear-gradient(0deg, rgba(18,23,37,0.55) 0%, #121827 100%),url(http://localhost:8888/wao2017/wp-content/themes/starterTheme/assets/img/bkg-contact-WAO-wine-art-overseas-private-wine-club-bordeaux.jpg);
    background-size: cover;
}


h1 a{
    background: url(images/logo.png) no-repeat !important;
    width: 325px !important;
    height: 93px !important;
}
.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover {
    background: #dcc590;
    border-color: transparent;
    color: #fff;
}
#backtoblog {
    background-color: rgba(102, 102, 102, 0);
    box-shadow: 0 1px 0px rgba(255, 255, 255, 0.16);
    left: 0;
    margin: 0 !important;
    padding: 10px !important;
    position: fixed;
    text-align: left;
    text-shadow: 0 0 0 !important;
    top: 0;
    width: 100%;
}

.login #backtoblog a {
    color: #FFFFFF !important;
}

.login form {
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 24px 46px;
    background: transparent;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
    box-shadow: 0 0px 0px rgba(0,0,0,0);
}

.logo-wp-admin {
    text-align: center;
    padding-top: 8%;
    padding-bottom: 35px;
}
.logo-wp-admin img {
    max-width: 300px;
}
#login {
    width: 320px;
    padding: 0% 0 0;
    margin: auto;
}

#login h1{display: none;}

input[type=text], input[type=password] {
    height: 47px;
    width: 100%;
    border: none;
    background-color: rgba(255,255,255,0.19);
    font-family: 'ubuntu';
    color: #fff;
    padding: 14px;
}
.login form .input, .login form input[type=checkbox], .login input[type=text] {
    background-color: rgba(255,255,255,0.19);
}
.submit input[type=submit] {
    height: 47px;
    width: 100%;
    border: none;
    background-color: #DDBF7B;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

input[type=checkbox] {
    border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 16px;
    margin: -4px 4px 0 0;
    outline: 0;
    padding: 0!important;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -webkit-transition: .05s border-color ease-in-out;
    transition: .05s border-color ease-in-out;
}

.wp-core-ui .button-primary {
    background: transparent;
    border-color: transparent;
    -webkit-box-shadow: 0 1px 0 transparent;
    box-shadow: 0 0px 0 transparent;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}
.wp-core-ui .button-group.button-large .button, .wp-core-ui .button.button-large {
    height: auto;
    line-height: 28px;
    padding: 7px;
    margin-top: 15px;
}