/*
/*
/*
/*
/*
   Theme Name: Starter Theme by Sõcreativ’
   Theme URI: https://socreativ.com
   Description: Sõcreativ' WordPress Starter Theme
   Version: 1.0.0
   Author: Team Sõcreativ (@socreativ)
   Author URI: https://socreativ.com
   Tags: CSS

   License: All Rights Reserved
*/
/*------------------------------------*\
   MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
   -webkit-font-smoothing:antialiased;
   font-smoothing:antialiased;
   text-rendering:optimizeLegibility;
}
html {
   font-size:100%!important;
}
body {
   color:#444;
   float: right;
}

/*------------------------------------*\
	GLOBAL
\*------------------------------------*/

.apparition {
   opacity: 0;
}

img {
   max-width:100%;
   vertical-align:bottom;
}
#outdated {
   position: fixed;
   width: 40%;
   padding: 1em;
   background: rgb(19, 19, 19);
   bottom: 45px;
   z-index: 999999;
   left: 35px;
   color: #FFF;
   text-align: left;
   border-top: 3px solid #4977c2;
   opacity: 0;
}



a {
   color:#444;
   text-decoration:none;
   -webkit-transition:all 300ms ease-in-out;
   -moz-transition:all 300ms ease-in-out;
   -ms-transition:all 300ms ease-in-out;
   -o-transition:all 300ms ease-in-out;
   transition:all 300ms ease-in-out;
}
a:focus {
   outline: 0;
   text-decoration: initial;
}
input:focus {
   outline:0;
   border:1px solid #E6E6E6;
   -webkit-transition:all 300ms ease-in-out;
   -moz-transition:all 300ms ease-in-out;
   -ms-transition:all 300ms ease-in-out;
   -o-transition:all 300ms ease-in-out;
   transition:all 300ms ease-in-out;
}
:focus {
   outline: none;
   text-decoration: initial;
}
a:hover,
a:active {
   outline:0;
   text-decoration: none;
   color: #000;
}
input, textarea {
   padding: 10px;
   border: 1px solid #DDD;
   background: rgba(255,255,255,.5);
}

select {
   border: 1px solid #d0d0d0;
   background: #fff;
   border-radius: 0px!important;
   -webkit-appearance: button;
   -webkit-border-radius: 0px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   margin: 5px 0;
   overflow: hidden;
   padding: 7px 35px 10px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   background-image: url();
   background-repeat: no-repeat;
   background-position: right center;
 }
ul {
   padding:0;
}
.custom-list li {list-style-type: none;}
.custom-list li:before {
   content: "☺";
}
.anim-300, .anim-300 a {
   -webkit-transition:all 300ms ease-in-out;
   -moz-transition:all 300ms ease-in-out;
   -ms-transition:all 300ms ease-in-out;
   -o-transition:all 300ms ease-in-out;
   transition:all 300ms ease-in-out;
}
.anim-500, .anim-500 a {
   -webkit-transition:all 500ms ease-in-out;
   -moz-transition:all 500ms ease-in-out;
   -ms-transition:all 500ms ease-in-out;
   -o-transition:all 500ms ease-in-out;
   transition:all 500ms ease-in-out;
}

.no-padding{
   padding: 0!important;
   padding-left: 0!important;
   padding-right: 0!important;}
.no-padding-left{padding-left: 0!important;}
.no-padding-right{padding-right: 0!important;}

/* wrapper */
.wrapper {
}
.nav ul {
   list-style:none;
   margin-bottom: 0;
}
.error404 article {
   padding-top:25vh;
}

/*Custom checkbox*/
input[type="checkbox"] {
 display: none;
}
input[type="checkbox"] + .wpcf7-list-item-label {
 position: relative;
}
input[type="checkbox"] + .wpcf7-list-item-label:before {
 content: " ";
 box-sizing: border-box;
 display: inline-block;
 vertical-align: middle;
 width: 20px;
 height: 20px;
 margin-right: 5px;
 border: 1px solid white;
 border-radius: 4px;
}
input[type="checkbox"]:checked + .wpcf7-list-item-label:before {
 background-color: #F5A623;
 -webkit-transition:all 300ms ease-in-out;
 -moz-transition:all 300ms ease-in-out;
 -ms-transition:all 300ms ease-in-out;
 -o-transition:all 300ms ease-in-out;
 transition:all 300ms ease-in-out;
}

/*Fin custom checkbox*/

.text-white{color: #FFF;}
.text-pink, .text-pink a {color: #b55d85!important;}
.text-black{color: #201f27;}
.text-blue{color: #679dec;}
.text-grey{color: #aca6a2;}
.text-gold{color: #e1ce9b!important;}
.text-gold2{color: #DFCE9E;}
.text-gold-light{color: #F3EBD8;}
.text-grey-light{color: #6D6B6D;}
.text-black{color: #393939;}

.border-gold{border: 1px solid #e1ce9b!important;}

.bkg-gold{background-color: #DFCE9E;}
.bkg-black{background-color: #262626;}

.m-0{margin: 0!important;}
.m-auto-0{margin: auto 0;}
.m-0-auto{margin: auto 0;}

.ls-0{letter-spacing: 0px;}
.ls-1{letter-spacing: 1px;}
.ls-2{letter-spacing: 2px;}
.ls-3{letter-spacing: 3px;}

.fs-12 {font-size: 12px;}
.fs-13 {font-size: 13px;}
.fs-14 {font-size: 14px;}
.fs-15 {font-size: 15px;}
.fs-16 {font-size: 16px;}
.fs-17 {font-size: 17px;}
.fs-18 {font-size: 18px;}
.fs-19 {font-size: 19px;}
.fs-20 {font-size: 20px;}
.fs-21 {font-size: 21px;}
.fs-22 {font-size: 22px;}
.fs-23 {font-size: 23px;}
.fs-24 {font-size: 24px;}
.fs-25 {font-size: 25px;}
.fs-26 {font-size: 26px;}
.fs-28 {font-size: 28px;}
.fs-30 {font-size: 30px;}
.fs-32 {font-size: 32px;}
.fs-34 {font-size: 34px;}
.fs-36 {font-size: 36px;}
.fs-38 {font-size: 38px;}
.fs-40 {font-size: 40px;}
.fs-42 {font-size: 42px;}
.fs-44 {font-size: 44px;}
.fs-46 {font-size: 46px;}
.fs-48 {font-size: 48px;}
.fs-50 {font-size: 50px;}
.fs-55 {font-size: 55px;}
.fs-60 {font-size: 60px;}
.fs-70 {font-size: 70px;}
.fs-80 {font-size: 80px;}
.fs-90 {font-size: 90px;}
.fs-100 {font-size: 100px;}
.fs-130 {font-size: 130px;}
.fs-190 {font-size: 190px;}
.fs-200 {font-size: 200px;}

.fw-900{font-weight: 900;}
.fw-800{font-weight: 800;}
.fw-700{font-weight: 700;}
.fw-600{font-weight: 600;}
.fw-500{font-weight: 500;}
.fw-400{font-weight: 400;}
.fw-300{font-weight: 300;}
.fw-200{font-weight: 200;}
.fw-100{font-weight: 100;}

.mt-0{margin-top: 0px;}
.mt-5{margin-top: 5px;}
.mt-10{margin-top: 10px;}
.mt-15{margin-top: 15px;}
.mt-20{margin-top: 20px;}
.mt-30{margin-top: 30px;}
.mt-40{margin-top: 40px;}
.mt-50{margin-top: 50px;}
.mt-80{margin-top: 80px;}
.mt-100{margin-top: 100px;}
.mt-120{margin-top: 120px;}
.mt-130{margin-top: 130px;}
.mt-140{margin-top: 140px;}
.mt-150{margin-top: 150px;}
.mt-200{margin-top: 200px;}
.mt-350{margin-top: 350px;}

.mb-0{margin-bottom: 0px;}
.mb-5{margin-bottom: 5px;}
.mb-10{margin-bottom: 10px;}
.mb-15{margin-bottom: 15px;}
.mb-20{margin-bottom: 20px;}
.mb-30{margin-bottom: 30px;}
.mb-40{margin-bottom: 40px;}
.mb-50{margin-bottom: 50px;}
.mb-80{margin-bottom: 80px;}
.mb-100{margin-bottom: 100px;}
.mb-120{margin-bottom: 120px;}
.mb-130{margin-bottom: 130px;}
.mb-140{margin-bottom: 140px;}
.mb-150{margin-bottom: 150px;}
.mb-250{margin-bottom: 250px;}
.mb-350{margin-bottom: 350px;}

.ml-0{margin-left: 0px;}
.ml-5{margin-left: 5px;}
.ml-10{margin-left: 10px;}
.ml-15{margin-left: 15px;}
.ml-20{margin-left: 20px;}
.ml-30{margin-left: 30px;}
.ml-40{margin-left: 40px;}
.ml-50{margin-left: 50px;}
.ml-80{margin-left: 80px;}
.ml-100{margin-left: 100px;}
.ml-120{margin-left: 120px;}
.ml-130{margin-left: 130px;}
.ml-140{margin-left: 140px;}
.ml-150{margin-left: 150px;}
.ml-350{margin-left: 350px;}

.mr-0{margin-right: 0px;}
.mr-5{margin-right: 5px;}
.mr-10{margin-right: 10px;}
.mr-15{margin-right: 15px;}
.mr-20{margin-right: 20px;}
.mr-30{margin-right: 30px;}
.mr-40{margin-right: 40px;}
.mr-50{margin-right: 50px;}
.mr-80{margin-right: 80px;}
.mr-100{margin-right: 100px;}
.mr-120{margin-right: 120px;}
.mr-130{margin-right: 130px;}
.mr-140{margin-right: 140px;}
.mr-150{margin-right: 150px;}
.mr-350{margin-right: 350px;}

.padding-1em{padding: 1em;}
.padding-2em{padding: 2em;}
.padding-3em{padding: 3em;}
.padding-4em{padding: 4em;}
.padding-5em{padding: 5em;}


.p5{padding: 5px;}
.p10{padding: 10px;}
.p15{padding: 15px;}
.p20{padding: 20px;}
.p30{padding: 30px;}
.p40{padding: 40px;}
.p50{padding: 50px;}
.p80{padding: 80px;}
.p100{padding: 100px;}

.pb-0{padding-bottom: 0px;}
.pb-5{padding-bottom: 5px;}
.pb-10{padding-bottom: 10px;}
.pb-15{padding-bottom: 15px;}
.pb-20{padding-bottom: 20px;}
.pb-30{padding-bottom: 30px;}
.pb-40{padding-bottom: 40px;}
.pb-50{padding-bottom: 50px;}
.pb-80{padding-bottom: 80px;}
.pb-100{padding-bottom: 100px;}

.pt-0{padding-top: 0px;}
.pt-5{padding-top: 5px;}
.pt-10{padding-top: 10px;}
.pt-15{padding-top: 15px;}
.pt-20{padding-top: 20px;}
.pt-30{padding-top: 30px;}
.pt-40{padding-top: 40px;}
.pt-50{padding-top: 50px;}
.pt-80{padding-top: 80px;}
.pt-100{padding-top: 100px;}

.pl-0{padding-left: 0px;}
.pl-5{padding-left: 5px;}
.pl-10{padding-left: 10px;}
.pl-15{padding-left: 15px;}
.pl-20{padding-left: 20px;}
.pl-30{padding-left: 30px;}
.pl-40{padding-left: 40px;}
.pl-50{padding-left: 50px;}
.pl-80{padding-left: 80px;}
.pl-100{padding-left: 100px;}

.pr-0{padding-right: 0px;}
.pr-5{padding-right: 5px;}
.pr-10{padding-right: 10px;}
.pr-15{padding-right: 15px;}
.pr-20{padding-right: 20px;}
.pr-30{padding-right: 30px;}
.pr-40{padding-right: 40px;}
.pr-50{padding-right: 50px;}
.pr-80{padding-right: 80px;}
.pr-100{padding-right: 100px;}

.attachment-fixed {background-attachment: fixed!important;}

.bolder{font-weight: bolder;}
/*------------------------------------*\
   LOADER
\*------------------------------------*/

#page-loader {
   width:100vw!important;
   height:100vh!important;
   background:#FFFFFF;
   position:fixed;
   top:0;
   left:0;
   z-index:999999999;
}
.loading-wrapper {
   position:absolute;
   text-align:center;
   width:100vw!important;
   height:100vh!important;
}
img.loader-image {
   position:absolute;
   top:0;
   bottom:0;
   left:0;
   right:0;
   margin:auto;
}
test

/*------------------------------------*\
   CHECK BROWSER
\*------------------------------------*/

#outdated h6{
 color: white;
 font-size: 20px;
}

#outdated .maj{
 color: white;
 padding: 5px;
 border: 2px solid #4977c2;
 float: left;
}

#outdated #btnCloseUpdateBrowser {
 color: white;
 font-size: 20px;
 float: right;
}

#btnCloseUpdateBrowser {
 cursor: pointer;
}

.closediv {
 height: 20px;
 width: 20px;
 z-index: 20;
}

/*------------------------------------*\
   COOKIES
\*------------------------------------*/

#cookie {
   position:relative;
   width:100%;
   padding:1em;
   background:#B7B7B7;
}

/*------------------------------------*\
   BODY FRAMED
\*------------------------------------*/
body.framed{
   padding:1em;
}
body.framed:before,
body.framed:after{
   content: " ";
   width:100%;
   height:1em;
   position:fixed;
   background-color:#FFF;
   z-index:9999;
   }
body.framed:before { top: 0; left:0; }
body.framed:after { bottom: 0; left:0; }
body.framed div#sneaky-btn { top: 1em; right: 1em; }

/*------------------------------------*\
   HEADER
\*------------------------------------*/

/* burger menu */
#menu-btn:hover{
   cursor: pointer;
}
.nav-mobile {
   background: rgba(0,0,0,.95);
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   z-index: 99999;
   overflow-y: scroll;
}
.nav-mobile ul li{
   opacity: 0;
   font-size: 30px;
   text-align:center;
   display: inline-block;
}
.nav-mobile ul li a{
   color: #4C4C4C!important;
}
.menu-section{
 background-color: #FFF;
 position: relative;
 z-index: 99999;
}
.responsive .menu-section{
 background-color: transparent;
}
button {
 position: relative;
 display: inline-block;
 padding: 0;
 height: 15px;
 width: 20px;
 background: none;
 border: none;
 cursor: pointer;
 outline: 0;
 margin-left: 10px;
}
button span {
 position: absolute;
 display: block;
 height: 2px;
 width: 100%;
 background: #1a1a1a;
 transition: top 0.2s 0.2s linear, opacity 0.1s 0.2s linear, transform 0.2s linear; }
 button span:nth-child(1) {
   top: 0; }
 button span:nth-child(2) {
   top: 6px; }
 button span:nth-child(3) {
   top: 12px; }

button.menu-open span {
 top: 7px;
 background-color: white;
 transition: top 0.2s linear, opacity 0.1s 0.2s linear, transform 0.2s 0.2s linear; }
 button.menu-open span:nth-child(1) {
   transform: rotate(45deg); }
 button.menu-open span:nth-child(2) {
   opacity: 0; }
 button.menu-open span:nth-child(3) {
   transform: rotate(-45deg); }
li{
   display: none;
}

/* MENU VERTICAL */

.container-border-menu-open {
   display: none;
}

.menu-vertical {
   height: 100vh;
   width: auto;
   background-color: #fff;
   position: fixed;
   border-right: 1px solid #ebe7e7;
}

.container-border-menu-open {
   padding: 50px;
   width: 100%;
   height: 100vh;
   background-color: #fff;
   overflow: hidden;
}

.container-menu-open {
   height: 100%;
   width: 100%;
   background-image: url('/jean-voisin/wp-content/themes/starterTheme/assets/img/logo_menu_open.svg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   border: 1px solid #979797;
}

.close-menu-open {
   padding: 10px;
   border: 1px solid #979797;
   display: inline;
   margin-top: 30px;
   margin-left: 30px;
   position: absolute;
}

.content-titre-menu-open {
   margin: 0 auto;
}

.barre-vertical {
   margin: 0 auto;
   height: 70px;
   width: 1px;
   background-color: #979797;
}

.container-logo-menu-open {
   width: auto;
   margin: 0 auto;
   width: 150px;
}

.container-logo-menu-open img {
   width: 150px;
   max-width: none;
   margin-top: 10px;
}

.titre-menu-open {
   letter-spacing: 2px;
   font-size: 11px;
}

.logo-menu-vertical {
   padding: 25px 25px 25px 25px;
   background-color: #E1CE9B;
}

.container-btn-menu {
   margin: 25px 0 0 0;
   cursor: pointer;
}

.container-btn-menu-2 {
   margin-top: -39px;
   cursor: pointer;
}

.langue-menu {
   padding: 20px 0 20px 0;
   position: absolute;
   bottom: 0;
}

.langue-menu-open {
   padding: 20px 0 20px 50px;
   position: absolute;
   bottom: 50px;
   left: 50px;
}

.rond-btn-menu {
   height: 7px;
   width: 7px;
   margin: 0 auto;
   border: 1px solid #949494;
   border-radius: 50%;
   margin-top: 6px;
   margin-bottom: 6px;
}

#menu-main-navigation .menu-item a{
   position: relative;
}

#menu-main-navigation>.menu-item::after{
   display: block;
   margin-top: -140px;
   font-size: 150px;
   color: #EFEAD4;
   font-family: 'GothamBook';
}

#menu-main-navigation>.menu-item:nth-child(1)::after{
   content: "1";
}
#menu-main-navigation>.menu-item:nth-child(2)::after{
   content: "2";
}
#menu-main-navigation>.menu-item:nth-child(3)::after{
   content: "3";
}

.sub-menu li {
   color: #4C4C4C;
   font-size: 18px!important;
   line-height: 0px!important;
}

.sous-menu-open {
   position: absolute;
   bottom: 50px;
   right: 50px;
   font-size: 16px!important;
}

#menu-sous-menu li {
   font-size: 18px;
}

#menu-sous-menu li {
   margin-right: 60px;
}
#menu-sous-menu li:nth-child(1)::before {
   content: "4 . ";
   display: inline-block;
   color: #EFEAD4;
   margin-right: 8px;
}
#menu-sous-menu li:nth-child(2)::before {
   content: "5 . ";
   display: inline-block;
   color: #EFEAD4;
   margin-right: 8px;
}
#menu-sous-menu li:nth-child(3)::before {
   content: "6 . ";
   display: inline-block;
   color: #EFEAD4;
   margin-right: 8px;
}

menu span {
   line-height: 19px;
   letter-spacing: 3px;
   text-align: center;
}

/* sneaky */

.sneaky {
   position: fixed;
   right: 0;
   top: 0;
   width: 0;
   height: 0;
   background-color: #FFF;
   text-align: right;
   z-index: 99!important;
   -webkit-transition-delay: 500ms;
   transition-delay: 500ms;
}
.sneaky-open .sneaky {
   position: fixed;
   right: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: #FFF;
   -webkit-transition-delay: 0ms;
   transition-delay: 0ms;
}
.sneaky img {
   top: 25px;
   right: 25px;
   position: relative;
   width: 1em;
   cursor: pointer;
}
.sneaky-content {
   width: 100%;
   height: 0;
   margin: 0 auto;
   overflow: hidden;
   opacity: 0;
   text-align: justify;
   text-align-last: center;
   position: fixed;
   top: 0;
   left: 0;
   transition-delay: 0ms;
   -webkit-transition-delay: 0ms;
   padding: 0 20vw;
}
.home.sneaky-open .socreaprism {
   position: fixed;
   z-index: -100;
   width: 100%;
}
.responsive  .nav.nav.main-navigation-zone.anim-300 a{
   opacity: 0;
}
body.responsive{
   overflow: hidden;
}

.sneaky-open .sneaky-content {
   width: 100%;
   height: 100%;
   left: 0;
   margin-top: 0;
   overflow-x: hidden;
   overflow-y: scroll;
   text-align: justify;
   text-align-last: center;
   opacity: 1;
   -webkit-transition-delay: 500ms;
   transition-delay: 500ms;
}
.sneaky-open .sneaky-content h2 {text-align: center;}
div#sneaky-btn {
   cursor: pointer;
   position: fixed;
   z-index: 9999999999;
   top: 0;
   right: 0;
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 0 50px 50px 0;
   border-color: transparent #444 transparent transparent;
}

header{
   display:block;
   height: auto;
}

/* Top Bar */

div#header-top-container {
   background:#D0D0D0;
   display:block;
   width:100%;
   height:auto;
   padding-top:15px;
   padding-bottom:15px;
}

/* Logo */

.nav-mobile{
   display: none;
}

/*#header-sticky {
   width: 100%;
   /*overflow: hidden;*/
   /*position: fixed;
   top: 0;
   left: 0;
   z-index: 999;
   background-color: #E6E6E6;
   -webkit-transition: height 0.3s;
   -moz-transition: height 0.3s;
   -ms-transition: height 0.3s;
   -o-transition: height 0.3s;
   transition: height 0.3s;
}*/

#header-sticky .logo{
   height: 90%;
}

.logo a {
   padding: 10px;
}

#header-sticky .nav ul li {
   display: inline-block;
}

#header-sticky nav a {
   font-size: 15px;
   color: #000;
   font-weight: 700;

   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   -ms-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
}
#header-sticky.smaller {
   height: ;
}
#header-sticky nav a:hover, #header-sticky nav a:hover span {
   color: #000;
}
#header-sticky .container-logo-menu {
   height: ;
}
#header-sticky a {
   display: block;
}
#header-sticky img {
   display: inline;
}
#header-sticky.smaller nav a {
   font-size: 15px;
}
#header-sticky.smaller .logo{
   margin-top: 0px;
}

#header-sticky.smaller img {
   display: inline;
   height: calc(100% - 15px);
   margin-top: 8px;
}
#menu-btn{
   height: calc(100% - 10px);
}

/*------------------------------------*\
   SUB MENU
\*------------------------------------*/

/* SUB_MENU HEADER_LEFT */
.sub-menu-top-position{
   position: fixed;
   width: 100%;
   height: auto!important;
}
.sub-menu{
   display: block;
   margin-top: 70px!important;
}
.sub-menu a::before {
   content: "";
   display: inline-block;
   height: 30px;
   width: 1px;
   background-color: #868686;
   margin-right: 50px;
   transform: translateY(10px);
   -webkit-transition:all 300ms ease-in-out;
   -moz-transition:all 300ms ease-in-out;
   -ms-transition:all 300ms ease-in-out;
   -o-transition:all 300ms ease-in-out;
   transition:all 300ms ease-in-out;
   opacity: 0;
}
.sub-menu a:hover::before {
   opacity: 1;
}
.sub-menu a::after {
   content: "";
   display: inline-block;
   height: 30px;
   width: 1px;
   background-color: #868686;
   margin-left: 50px;
   transform: translateY(10px);
   -webkit-transition:all 300ms ease-in-out;
   -moz-transition:all 300ms ease-in-out;
   -ms-transition:all 300ms ease-in-out;
   -o-transition:all 300ms ease-in-out;
   transition:all 300ms ease-in-out;
   opacity: 0;
}
.sub-menu a:hover::after {
   opacity: 1;
}
/* SUB MENU NAV MOBILE */
#menu-nav_mobile .sub-menu-top-position{
   position: relative;
}
/*------------------------------------*\
   MAIN CONTENT
\*------------------------------------*/

main, .main-content {
   min-height: 80vh;
}

.news-container {
   border-right:1px solid #E6E6E6;
}

/* Sidebars */

.right-side-bar {
   /*border-left:1px solid #E6E6E6;*/
}
.left-side-bar {
   border-right:1px solid #E6E6E6;
   height:80vh;
}
.sidebar ul li {
   list-style: none;
}

/* Sidebars Fixed */

.fixed-side-area {
   position:fixed;
   top:0;
   left:0;
   z-index:9999999;
}
.sidebar-right, .sidebar-left{
   min-width:5em;
   min-height:5em;
   top:50%;
   margin-top:-2.5em;
   color:#fff;
}
.sidebar-right{ right:0; }
.sidebar-left{ left:0; }

.responsive {
   overflow: hidden;
}

/*------------------------------------*\
   PRESSE
\*------------------------------------*/
.actu-table:nth-child(even) {
   background: #f5f5f5;
}
.actu-table{position: relative;}
.actu-table:nth-child(even):before {
   content: ".";
   display: block;
   position: absolute;
   height: 100%;
   width: 100%;
   background: #f5f5f5;
   right: 100%;
   top: 0;
}

.title-medias{
   top: 200px;
   position: relative;
   position: sticky;
   transform: rotate(-90deg) translateX(-400px);
   color: #414141!important;
}
.kit-presse{position: relative;;}
.kit-presse a:before {
   content: "";
   position: absolute;
   display: block;
   height: 1px;
   width: calc(100vw - 570px);
   background: #414141;
   right: 100%;
   top: 30px;
}
.kit-presse .border {
   border: 1px solid #414141!important;
}
.kit-presse a{color: #7f7f7f}


.presse .trait-nombre2 {
   height: 70px;
}
/*------------------------------------*\
   contact
\*------------------------------------*/
.contact .nombre-page-chateau p {
   font-size: 320px;
   margin-left: 0px;
   line-height: 287px;
}
.contact .trait-nombre2 {
   height: 70px;
   top: 78px;
   position: relative;
}
input.wpcf7-form-control, textarea{
   width: 100%;
   padding: 15px 10px;
   margin: 0;
   background: transparent;
   border: 1px solid #393939;
   margin-bottom: 25px;
   color: #D8D8D8!important;
}
form.wpcf7-form {
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}
.contact h1 span{
   position: absolute;
   left: 5px;
   top: -114px;
   font-size: 230px;
}
.contact .coordonnees{
 padding-left: 100px
}
/*------------------------------------*\
   FOOTER
\*------------------------------------*/

.top-page {
   position: fixed;
   right: 30px;
   bottom: 50px;
   width: 50px;
   height: 50px;
   color: #fff !important;
   font-size: 72px;
   z-index: 9999;
   text-decoration: none;
   line-height: 0px;
   width: 90px;

}
.responsive .top-page {
   display: none!important;
}
.top-page a {
   color: #fff;
}
.top-page i {
   line-height: 40px;
}

.footer-top {
   width:100%;
   display:block;
   float:left;
   background:#EAEAEA;
   padding-top:0.5em;
   padding-bottom:0.5em;
}
.footer-content.sidebar-widget {
   float:left;
   width:100%;
   min-height:10em;
   padding-top: 2em;
   padding-bottom: 2em;
}

.footer1 {
   background:#D0D0D0;
}

.sub-footer {
   float:left;
   background:#ABABAB;
   width:100%;
   padding:.5em 0;
}
.firm{
   width: 85px;
}

.footer-menus {
   border-left: 1px solid #6b6b6b;
   border-right: 1px solid #6b6b6b;
   text-align: left;
}

.menu {
   text-align: left;
   margin-top: 20px;
}
.footers-menu ul li{
   -moz-column-count:2;
   -webkit-column-count:2;
   -o-column-count:2;
   column-count:2;
   -moz-column-gap:20px;
   -webkit-column-gap:20px;
   -o-column-gap:20px;
   column-gap:20px;
}

.footer-menus ul li {
   padding: 0;
   display: block;
   line-height: 2.3em;
}

.footer-advices {
   margin-top: 24px;
   border-right: 1px solid #6b6b6b;
   font-size: 1.1em;
}

.footer-advices p i {
   margin-right: 5px;
   padding: 0 20px;
   width: 50px;
}

.menu.social {
   text-align: center;
}

.sub-footer {
   padding: 4px 15px;
   margin: 0;
   font-size: 0.7em;
}

.brown {
   background-color: #D0D0D0;
}

.footer-text, .footer-text a {
   text-align: center;
   color: #726f70!important;
}

.footer3 {
   border-top: 5px solid #EBEBEB;
}

.footer3_text p {
   font-size: 18px;
}

.footer3_sub .textwidget {
   padding: 20px;
   background-color: #EBEBEB;
   font-size: 12px;
}

.footer3_sub {
   background-color: #EBEBEB;
}

footer {
   padding: 20px 100px 20px 100px;
}

.page-template-template-chateau footer {
   background-color: #2B2B2B;
}

.post-type-archive-nos-vins footer {
   background-color: #262626;
}

.page-template-template-passion footer {
    margin-top: -120px;
}



footer img {
   height: 70px;
}

footer #menu-menu-footer {
   display: inline-block;
   margin-left: auto;
}

footer li {
   display: inline-block!important;
   margin: 0 30px 0 30px;
}
footer li a {
   color: #fff;
   font-family: "GothamBook";
   font-size: 18px;
}
/*------------------------------------*\
   PAGES
\*------------------------------------*/

/*  PAGE HOME   */

.img-background-home-page {
   background-color: #000;
   height: 100vh;
   width: 100%;
   background-position: center!important;
   background-repeat: no-repeat!important;
   background-size: cover!important;
}
.page-template-template-home footer {
   display: none;
}
body.page-template-template-home {
   width: 100vw!important;
}
.page-template-template-home .logo-menu-vertical {
   display: none;
}
.page-template-template-home .menu-vertical {
   display: none;
}
.barre-btn {
   height: 10px;
   width: 15px;
   border-top: 1px solid #fff;
   border-bottom: 1px solid #fff;
}
.menu-btn-home {
   padding: 12.5px 10px 12.5px 10px;
   border: 1px solid #fff;
   display: inline-block;
   margin: 20px 10px 20px 20px;
}
.text-menu-btn-home {
   display: inline-block;
   padding-top: 26px;
   color: #fff;
}
.menu-btn {
   cursor: pointer;
}
.page-template-template-home .menu-btn {
   display: inline-block;
}
#menu-menu-home-page {
   display: inline-block;
}
#menu-menu-home-page li {
   display: inline-block!important;
}
#menu-menu-home-page li:nth-child(1)::after {
   content: "|";
   display: inline-block;
   color: #D9D9D9;
   margin-left: 10px;
   margin-right: 5px;
}
#menu-menu-home-page li:nth-child(2) {
   margin-right: 20px;
}
#menu-menu-home-page a {
   color: #D9D9D9;
}
.content-logo-home-page img {
   width: 150px;
}
.container-svg-home {
   margin-top: -230px;
}
.page-template-template-home {
   overflow-y: hidden;
}
.langue-home {
   margin-left: 20px;
   padding: 20px 0 20px 0;
   position: absolute;
   bottom: 0;
}

.container-svg-home img {
   opacity: 0.2;
   z-index: 0;
   position: relative;
}

.texte-sous-logo-home-page {
   z-index: 1;
   position: relative;
}

.tilt-element {
   transform-style: preserve-3d;
}

.tilt-element-parallax {
   transform: translateZ(50px);
}

.margin-neg-home-texte {
   margin-top: -60px;
}

/*  Page Chateau  */
.nombre-page-chateau p {
   font-size: 500px;
   margin-left: -40px;
   line-height: 417px;
}
.trait-nombre {
   content: "";
   display: block;
   height: 150px;
   width: 1px;
   background-color: #DFCEB0;
   margin: 0 auto;
}
.trait-nombre2 {
   content: "";
   display: block;
   height: 350px;
   width: 1px;
   background-color: #DFCEB0;
   margin: 0 auto;
}
.titre-decouvrez {
   letter-spacing: 3px;
}

.after-titre::after {
   content: "";
   display: block;
   height: 3px;
   width: 40px;
   background-color: #E1CE9B;
   margin-left: auto;
   margin-top: 30px;
   margin-bottom: 30px;
}
.after-titre2::after {
 content: "";
 display: block;
 height: 10px;
 width: 100px;
 background-color: #E1CE9B;
 margin-left: auto;
 margin-top: 80px;
 margin-bottom: 80px;
}
.container-image {
   padding-bottom: 700px;
   background-repeat: no-repeat!important;
   background-position: bottom!important;
   background-size: contain!important;
}

.photo-neg-chateau {
   height: 700px;
   background-repeat: no-repeat!important;
   background-position: center!important;
   background-size: cover!important;
   margin-top: -100px;
   -webkit-box-shadow: 0px 10px 80px -10px #3c3c3c;
   -moz-box-shadow: 0px 10px 80px -10px #3c3c3c;
   box-shadow: 0px 10px 80px -10px #3c3c3c;
}

.photo-neg-chateau::before {
   content: "";
   display: block;
   width: 100px;
   height: 10px;
   background-color: #E0CE9F;
   transform: translate(-50px, 100px);
}

.photo-neg-chateau::after {
   content: "";
   display: block;
   width: 100px;
   height: 10px;
   background-color: #E0CE9F;
   transform: translate(470px, 600px);
}

.align-middle p {
   vertical-align: middle!important;
}

.titre-emplacement {
   font-weight: 600;
}

.img-emplacement {
   height: 400px;
   background-repeat: no-repeat!important;
   background-position: center!important;
   background-size: cover!important;
}

.background-troisieme-partie {
   background-repeat: no-repeat!important;
   background-position: top!important;
   background-size: contain!important;
}

.container-logo-chateau img{
   height: 80%;
}

.img-background-deuxieme-partie {
   padding-bottom: 700px;
   background-repeat: no-repeat!important;
   background-position: top!important;
   background-size: cover!important;
}

.div-marge-neg-chateau {
   background: linear-gradient(0deg, #2b2b2b 0%, #2b2b2b 70%, rgba(43, 43, 43, 0) 80%, rgba(43, 43, 43, 0) 100%);
   margin-top: -600px;
   padding-bottom: 200px;
}


/** PAGE NOS VINS **/
.tuile-vin:after {
   content: "";
   display: flex;
   background-color: #DCCDA7;
   height: 150px;
   width: 10px;
   transform: translateY(calc(100px + 50%));
}
.tuile-vin:nth-child(2n):after {
   margin-left: auto;
   margin-right: 300px;
}
.tuile-vin:nth-child(2n+1):after {
   margin-right: auto;
   margin-left: 300px;
}
.tuile-vin:last-child:after {
   display: none;
}
.container-titre-vins {
   background-color: #262626;
}
.container-titre-vins h1 {
   font-size: 175px;
   margin-bottom: 0;
}
.trait-after-nombre-vin {
   height: 2px;
   width: 760px;
   background-color: #DCCDA7;
   display: block;
   margin-top: 16px;
}
.texte-trait-vin {
   letter-spacing: 6px;
}
.container-image-tuile-vin img {
   width: 80%;
   height: 100%;
   margin-bottom: 80px;
}
.container-title-single-vin {
   line-height: 40px;
   letter-spacing: 10px;
}
.btn-voir-vin {
   padding: 20px;
   border: 1px solid #DCCDA7;
   display: inline-block;
   color: #DCCDA7;
   font-size: 22px;
   font-family: "GothamLight";
   cursor: pointer;
}
.btn-voir-vin:hover {
   background-color: #DCCDA7;
   color: #fff;
}
.tuile-vin:nth-child(2n) {
   background-color: #262626;
}
.tuile-vin:nth-child(2n) .container-image-tuile-vin img {
   margin-left: auto;
}
.tuile-vin:nth-child(2n+1) .container-image-tuile-vin img {
   margin-right: auto;
}
.tuile-vin:nth-child(2n) .nombre-tuile-vin {
   font-size: 370px;
   color: #2D2D2D;
}
.tuile-vin:nth-child(2n+1) .nombre-tuile-vin {
   font-size: 370px;
   color: #EFEFEF;
}
.tuile-vin:nth-child(2n+1) .nombre-tuile-vin span {
   margin-left: auto;
}
.tuile-vin:nth-child(2n+1) .trait-after-nombre-vin {
   margin-left: auto;
}
.tuile-vin:nth-child(2n+1) .btn-voir-vin {
   order: 2;
}
.tuile-vin:nth-child(2n) .container-title-single-vin  {
   color: #fff;
}
.tuile-vin:nth-child(2n+1) .container-title-single-vin  {
   margin-left: auto;
   color: #262626;
   text-align: right;
   order: 1;
   margin-right: 20px;
}
.tuile-vin:last-child {
   padding-bottom: 200px;
}

.container-image-tuile-vin {
   margin-top: -420px;
}

/** PAGE SINGLE NOS VINS **/
.titre-single-nos-vins {
   font-weight: 600;
   font-size: 100px;
   padding-top: 100px;
}

.background-full-width-nos-vins {
   background-color: #262626;
}

.nombre-tuile-vin-single {
   font-size: 370px;
   color: #2D2D2D;
}

.nombre-tuile-vin-single {
   line-height: 340px;
}
.titre-caracteristique {
   color: #707070;
   position: relative;
}
.valeur-caracteristique {
   color: #FFF;
   display: block;
}
.valeur-caracteristique a {
   color: #DCCDA7;
}
.trait-caracteristique {
   height: 1px;
   width: 100%;
   background-color: #3C3C3A;
   margin-top: 10px;
   margin-bottom: 10px;
}
.trait-valeur {
   height: 1px;
   width: 100%;
   background-color: #3C3C3A;
   margin-top: 10px;
   margin-bottom: 10px;
}
.background-seconde-partie-single {
   background-color: #FAFAF8;
}
.trait-vertical-single {
   height: 150px;
   width: 15px;
   background-color: #DCCDA7;
   transform: translateY(-50%);
}
.image-neg-single {
   margin-top: -50%;
}
.description-vin-single h2 {
   font-family: "GothamBook";
   font-size: 30px;
   font-weight: 800;
   margin-bottom: 15px;
}
.description-vin-single p {
   font-family: "GothamBook";
   font-size: 18px;
   padding-left: 20px;
   max-width: 80%;
   margin-bottom: 50px;
}
.image-bouteille-single {
    height: 100%;
}
.titre-caracteristique.gothamb.fs-20.fw-800.pr-100 span:before {
   content: "";
   width: 100vw;
   height: 1px;
   display: block;
   position: absolute;
   right: 100%;
   background: #3c3c3a;
   z-index: 0;
   bottom: -11px;
}
.nos-vins-template-default footer {
   background-color: #fff!important;
   border-top: 1px solid #464646!important;
}
.nos-vins-template-default footer a {
   color: #464646;
}
.page-template-template-contact-full-width footer {
   background-color: #262626;
}
/** PAGE PASSION VIN AUTO **/


.la-passion .trait-nombre{
   content: "";
   display: block;
   height: 70px;
   width: 1px;
   background-color: #DFCEB0;
   margin: 0 auto;
}
.la-passion .trait-nombre2 {
 content: "";
 display: block;
 height: 500px;
 width: 1px;
 background-color: #DFCEB0;
 margin: 0 auto;
 margin-top: -150px;
}

.passion-nb-page:after{
 content: url('assets/img/voiture-gabriel-jean-voisin.png');
 display: block;
 position: absolute;
 top: 350px;
 left: 170px;
}
.passion-part2{
 background-color: #FAFAFA;
}
.passion-img-part2{
 margin-top: -200px;
}
.passion-part2-after:before{
 content: '';
 display: block;
 background-color: #DFCE9E;
 width: 90px;
 height: 10px;
 position: absolute;
 left: -30px;
 top: -150px;
}
.passion-part2-after:after{
 content: '';
 display: block;
 background-color: #DFCE9E;
 width: 90px;
 height: 10px;
 position: absolute;
 right: -30px;
 bottom: 150px;
}

.passion-part3{
 background-size: cover!important;
 background-position: center!important;
}
.border-img-part3{
 border: solid 5px #DFCE9E;
 height: 100px;
 width: 100%;
}
.passion-legend-part3{
 transform: translateX(15px);
}
.passion-legend-part3 p{
 margin-bottom: 0px!important;
}
.passion-part4{
 background-repeat: no-repeat!important;
 background-size: cover!important;
}
.passion-content-part4:nth-child(even){
 margin-top: 220px;
}
.passion-img-part4{
 margin-top: -220px;
}
.passion-img-part4 div:nth-child(odd){
 margin-left: 8.3%;
}
.passion-part4bis{
 background-image: -webkit-linear-gradient(0deg, #010101 0%, rgba(1, 1, 1, 1) 70%, rgba(1, 1, 1, 0) 100%);
 background-image: -o-linear-gradient(0deg, #010101 0%, rgba(1, 1, 1, 1) 70%, rgba(1, 1, 1, 0) 100%);
 background-image: linear-gradient(0deg, #010101 0%, rgba(1, 1, 1, 1) 70%, rgba(1, 1, 1, 0) 100%);
}
.passion-part5{
 background-color: #FFF;
}
.passion-img-part5{
 margin-top: -200px;
}
.passion-part5bis{
 height: 650px;
 background-size: cover!important;
 background-repeat: no-repeat!important;
}


/** PAGE GALERIE **/


/* Galerie 1 */
.page-template-template-galerie .container img {
 border: none !important;
 width: 100%;
 max-width: 100%;
 height: auto;
 padding: 0;
}

.page-template-default .container-fluid {
 padding: 0 !important;
}

.page-template-template-galerie .galerie_container img {
 border: 10px solid #fff!important;
}

/* SOUS LE COUDE */

/*.item_galerie {
 height: 400px;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
}*/

.item_galerie {
 height: 380px;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 padding: 0;
}

.galerie_container img {
 max-width: 100%
}
/* Galerie 2*/
.page-template-template-galerie2 .galerie_container img {
  /* border: 15px solid #fff!important; */
}
.page-template-template-galerie2 .galerie_container  div{
   overflow: hidden;
}
.page-template-template-galerie2 .galerie_container img{
   border: solid 12.5px #FFF;
   height: 100%;
   object-fit: cover;
 width: 100%;
}

/* cover-flow.php */

body.page-template-cover-flow{
   overflow-x:hidden;
   overflow-y:scroll;
}
#scroll-area{
   overflow-x:scroll;
}
.items-container{
   min-width:100%;
   position:relative;
}
.items-container .item{
   display:inline-block;
   float:left;
}
.page-template-cover-flow .load-more button{
   width:100%;
}

/*Prestation 1 */

.presta-title {
   padding: 25px;
   text-align: center;
}
.row.presta-1:nth-child(2n+1){
   flex-direction: row-reverse!important;
}
.row.presta-1:nth-child(2n+1) .text-container{
   margin-left: auto;
}

.ligne_photo_texte:nth-child(2n+1){
   flex-direction: row-reverse!important;
}
.ligne_photo_texte:nth-child(2n+1) .text-container{
   margin-left: auto;
}


/* Prestation 2 */
.descriptif{
   padding: 10%;
}
.presta-2>.slide img:hover{
   cursor: pointer;
}

.presta-slider>.slick-prev{
   left: 5%!important;
   }
.presta-slider>.slick-next{
   right: 5%!important;
}
/* Template slider*/
.template_slider>button.slick-prev.slick-arrow{
   left: 5%;
}
.template_slider>button.slick-next.slick-arrow{
   right: 5%;
}
/* Prestation 3 */
.presta-3:hover{
   cursor: pointer;
}
.thum-row{
 width: 100%;
 margin-left: 0px!important;
 margin-right: 0px!important;
}
.close-p3 .fa{
   font-size: 18px;
}
.close-p3 .fa:hover{
   cursor: pointer;
}

/* Single */

.segment{
   color:#FFFFFF;
   height:4em;
   line-height:4em;
}
.segment span > span{
   color:#FFFFFF;
}
.gradient{
   background:#444; /* Old browsers */
   background:-moz-linear-gradient(left, #444 0%, #505050 100%); /* FF3.6-15 */
   background:-webkit-linear-gradient(left, #444 0%, #505050 100%); /* Chrome10-25,Safari5.1-6 */
   background:linear-gradient(to right,  #444 0%,#505050 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#505050',GradientType=1 ); /* IE6-9 */
}
.features-section{
   margin:3em 0;
}
.page-actu{
   border-bottom: solid white 1px;
}
.single-post .blue-segment span {
   font-size: 1em;
   padding-left: 0;
}
.single-post-thumb {
   display: block;
   height: 90vh;

   background-size: cover;
   background-position: center;
}
.single-post-thumb:before {
   content: "";
   display: block;
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 90vh 0 0 110px;
   border-color: transparent transparent transparent white;
}
.wide-picture{
   background:center no-repeat;
   margin:0;
   padding: 0;
   width:100%;
   text-align:center;
   height:40vh;
   background-size:cover;
}
.actu-titles{
   width: 100%;
   background: rgba(0,0,0,.6);
   text-transform: uppercase;
}
.logo-actu{
   margin:0 auto;
}
.logo-actu img{
   width:15%;
}
.actu-title{
   color: white;
   font-size:1.5em;
   border-bottom:solid 1px white;
   border-top:solid 1px white;
   margin-left:20%;
   margin-right:20%;
}
.actu-title h3 {
   margin-top:10px;
   font-size:1.3em;
   font-weight:200;
   letter-spacing:.1em;
}
.actu-title .actu-subtitle {
   font-size:0.75em;
   font-weight:200;
   letter-spacing:1px;
   font-style:italic;
}
.actu-title .actu-subtitle em{
   font-weight:500;
   font-style:normal;
}
.headlines {
   width:100%;
   height:100%;
   background:rgba(9, 7, 31, 0.7);
   padding:50px;
   text-align:center;
}
.actu .headlines:hover {
   background:rgba(9, 7, 31, 0.9);
}
.headlines p{
   font-weight:400;
}
.actu{
   height:300px;
   list-style:none;
   color:white;
   border-bottom:none;
   background-repeat:no-repeat;
   background-position:center;
}
.actu h2{
   font-size:1em;
   text-transform: uppercase;
   text-align: center;
}
.actu h3{
   font-size:20px;
   border-top:solid 1px white;
   border-bottom:solid 1px white;
   height:4em;
   margin-top:0;
   text-transform:uppercase;
   text-align:center;
   padding-top:.7em;
   line-height:1em;
   font-weight:bold;
}
.tax{
   margin: 0;
}
.single-gallery {
   margin-bottom:2em;
}
.news{
   min-height:30vh;
   margin-top:0;
   margin-bottom:2em;
}
.social-network {
   background-color:transparent;
   border:none;
   float:right;
   padding:0.2em;
   border-radius:50%;
   width:26px;
   height:26px;
   vertical-align:middle;
   text-align:center;
   margin-left:.2em;
   margin-top:2em;
   margin-bottom:2em;
}
.social-network:hover{
   color:#FFFFFF;
   background:#909090;
}
.news p{
   margin-top:2em;
   margin-bottom:2em;
}
.related-cat{
   color:white;
   text-transform:capitalize;
}
.related-cat span i{
   color:#fff;
}
.related-cat span a{
   color:white;
   font-weight:200;
}
.cat-infos > ul > li{
   font-size:1.5em;
   list-style:none;
   text-transform:uppercase;
}
.cat-item{
   color:#444!important;
   margin:0.4em 0!important;
   float:left;
   display:block!important;
   cursor:pointer;
   width:100%;
   padding:0 1em!important;
   border-radius:0!important;
   -moz-border-radius:0!important;
   -webkit-border-radius:0!important;
   font-weight:500;
   font-family:"Open Sans",sans-serif;
   text-transform:capitalize;
}
.cat-item:hover, .cat-item:hover > a{
   background-color:rgba(255, 255, 255, 0)!important;
   border-color:#444!important;
   color:#444!important;
   box-shadow: one!important;
}
.cat-item a{
   font-size:1.2em;
}
.related-cat span a:hover, .cat-item a:hover{
   color:#444;
}

.single3-img {
   height: 400px;
   width: 100%;
   -webkit-background-size: cover; /* pour anciens Chrome et Safari */
 background-size: cover; /* version standardisée */
   background-repeat: no-repeat;
 background-position: center;
}

.single3-content p{
   text-align: justify;
   font-size: 15px;
}

.single3-content p:first-of-type::first-letter {
   font-size: 300%;
   font-weight: bold;
   float: left;
   line-height: 90%;
   margin-right: 10px;
}

.single3-title {
   font-size: 20px;
   margin-right: 10px;
}



.article-complet {
   border-right:1px solid #E6E6E6;
}

.single3-titre-content {
   color: black;
   padding-bottom: 5px;
   width: 100%;
}

.single3-titre-content h3{
   margin: 0;
   margin-top: 10px;
}

.slider-title-content {
   width: 100%;
   text-align: center;
   padding-top: 100px;
   padding-bottom: 100px;
   color: white;
   background-color: rgba(0, 0, 0, 0.4);
   height: 100%;
}

.slick-slide.slick-active .slider-title{
   transform: translateX(100px);
   opacity: 0;
   -webkit-animation: slide 0.8s forwards;
   -webkit-animation-delay: 0.5s;
   animation: slide 0.8s forwards;
   animation-delay: 0.5s;
}

.slick-slide.slick-active p{
   transform: translateX(100px);
   opacity: 0;
   -webkit-animation: slide 0.8s forwards;
   -webkit-animation-delay: 0.7s;
   animation: slide 0.8s forwards;
   animation-delay: 0.7s;
}

.slick-slide.slick-active .btn_slider{
   transform: translateX(100px);
   opacity: 0;
   text-decoration: none;
   -webkit-animation: slide 0.8s forwards;
   -webkit-animation-delay: 0.9s;
   animation: slide 0.8s forwards;
   animation-delay: 0.9s;
}

.slick-slide.slick-active .btn_slider a{
   color: white;
}


@-webkit-keyframes slide {
   100% {
	   transform: translateX(0px);
	   opacity: 1;
   }
}

@keyframes slide {
   100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

.template_slider2>button.slick-next.slick-arrow {
   right: 5%;
}

.template_slider2>button.slick-prev.slick-arrow {
   left: 5%;
}

.slider-title{
   font-size: 50px;
}

.left-effect {
   height: auto;
   /*font-size: 50px;*/
}

.right-effect {
   height: auto;
   text-align: justify;
}

.info-article {
   font-size: 15px;
}

/* Nav Links * Liens de navigation */

h3.next-link, h3.prev-link {
	font-family: "Times", serif;
	font-weight: bold;
	letter-spacing: .075em;
	margin: 0;
	text-align: center;
	z-index: 1;
}
h3.next-link a > span, h3.prev-link a > span {
	background: transparent;
	padding: 0 0.6em;
	color: white;
	float: left;
	z-index: -2;
	font-size: 1em;
	text-decoration: none;
	line-height: 63px;
	height: 63px;
	display: inline-block;
}
span.target{
	font-family: "Helvetica Neue", sans-serif;
	font-weight: normal;
	position: relative;
	text-transform: uppercase;
	color: #000;
}
h3.next-link a:hover > span.target{
	right: 0 !important;
	background: #5c5c5c;
}
h3.prev-link a:hover > span.target{
	left: 0 !important;
	background: #5c5c5c;
}
h3.next-link a:hover > span, h3.prev-link a:hover > span{
	text-decoration: none;
	transform: translateX(0);
}
span.pointing-angle.next {
	margin: 0!important;
	position: relative;
	float: right;
	padding: 0 0.6em;
	text-align: center;
	background: #444;
	transform: translateX(0);
	font-size: 1em;
	z-index: 1;
	line-height: 63px;
}
span.pointing-angle.prev {
	margin: 0!important;
	position: relative;
	float: left;
	padding: 0 0.6em;
	text-align: center;
	background: #444;
	transform: translateX(0);
	font-size: 1em;
	z-index: 1;
	line-height: 63px;
}
h3.prev-link span.num, h3.next-link span.num{
	font-size: 1.5em;
}
.prev-link, .next-link{
	position: fixed;
	top: 50%;
}
.prev-link{
	left: 0;
}
.next-link{
	right: 0;
}

/* Contact Full Width*/

#map{
   width:100%;
   height:500px;
}
/* Contact1 */
.contact1 > #map{
   height: 100vh;
}
.contact1 form label{
 width: 80%;
}
.contact1 input.wpcf7-form-control.wpcf7-submit{
   width: 80%;
}
.contact1 textarea.wpcf7-form-control.wpcf7-textarea{
   width: 100%;
}
.contact1 input.wpcf7-form-control.wpcf7-text{
   width: 100%;
}
/*Conatct2 */
.contact2 > #map{
   height: 70vh;
}
.form-contact2{
   position: absolute;
   top: 20%;
   background-color: white;
   -moz-box-shadow: 0px 2px 7px 2px #9b9b9b;
   -webkit-box-shadow: 0px 2px 7px 2px #9b9b9b;
   -o-box-shadow: 0px 2px 7px 2px #9b9b9b;
   box-shadow: 0px 2px 7px 2px #9b9b9b;
}
.form-contact2 form{
   width: 90%;
   margin-left: 5%;
}

.form-contact2 input.wpcf7-form-control.wpcf7-submit{
   width: 100%;
}
.form-contact2 textarea.wpcf7-form-control.wpcf7-textarea{
   width: 100%;
   height: 150px;
}
.form-contact2 input.wpcf7-form-control.wpcf7-text{
   width: 100%;
   height: 35px;
}
.form-contact2 > #rs > a.social-network{
   margin-right: 5%;
   margin-top: 0px;
}
/* Contact3 */
.contact3 > #map{
   height: 100vh;
}
.form-contact3{
   position: absolute;
   top: 60%;
   background-color: white;
}
.form-contact3 form{
   width: 90%;
   margin-left: 5%;
}
.form-contact3 form label{
 width: 100%;
}
.form-contact3 input.wpcf7-form-control.wpcf7-submit{
   width: 100%;
}
.form-contact3 textarea.wpcf7-form-control.wpcf7-textarea{
   width: 100%;
   height: 150px;
}
.form-contact3 input.wpcf7-form-control.wpcf7-text{
   width: 100%;
   height: 35px;
}
.form-contact3 > #rs > a.social-network{
   margin-right: 5%;
   margin-top: 0px;
}
/* Contact 4 */
.contact4 > #map{
   height: 350px;
}
.form-contact4{
   background-color: rgba(0,0,0,0.10);
}
.form-contact4 h1{
   margin-left: 10%;
}
.form-contact4 form{
   width: 80%;
   margin-left: 10%;
}
.form-contact4 input.wpcf7-form-control.wpcf7-submit{
   width: 100%;
   color: white;
   background-color: #2d2d2d;
}
.form-contact4 textarea.wpcf7-form-control.wpcf7-textarea{
   width: 100%;
   height: 150px;
   background: none;
   border: none;
   border-bottom: 1px solid #2d2d2d;
}
.form-contact4 input.wpcf7-form-control.wpcf7-text{
   width: 100%;
   height: 45px;
   background: none;
   border: none;
   border-bottom: 1px solid #2d2d2d;
}
/* Contact 5 */
.contact5-0{
   color: white;
   background-color: #2d2d2d;
}
.contact5-1{
   background-color: rgba(0,0,0,0.1);
   padding: 40px;
   font-size: 30px;
}
.contact5-1 span{
   border-right: solid 1px #2d2d2d;
   padding-right: 30px;
}
.contact5-2{
   background-color: #2d2d2d;
   padding: 30px;
   color: #777777;
   font-size: 26px;
   border-top: solid 1px;

}
.contact5-3 #map{
   height: 350px;
}
.contact5-4{
   background-color: #2d2d2d;
   position: absolute;
   top: 0;
   color: #777777;


}
.contact5-5{
   background-color: #2d2d2d;
}

.form-contact5 h1{
   margin-left: 10%;
}
.form-contact5 h3{
   font-size: 26px;
   color: #777777;
}
.form-contact5 form{
   width: 80%;
   margin-left: 10%;
   color: white;
}
.form-contact5 input.wpcf7-form-control.wpcf7-submit{
   width: 100%;
   background-color: rgb(207, 207, 207);
   color: #2d2d2d;
}
.form-contact5 textarea.wpcf7-form-control.wpcf7-textarea{
   width: 100%;
   height: 100px;
   background: none;
   border: none;
   border-bottom: 1px solid;
}
.form-contact5 input.wpcf7-form-control.wpcf7-text{
   width: 100%;
   height: 30px;
   background: none;
   border: none;
   border-bottom: 1px solid;
}



/*------------------------------------*\
   FIL D'ARIANE
\*------------------------------------*/

/* Breadcrumbs */
.fil-dariane {
   width: 100%;
   background-color: rgba(0, 0, 0, 0.3);
}

.fil-dariane h1{
   margin-top: 0px;
   margin-bottom: 0px;
   font-size: 30px;
   padding-left: 15px !important;
   padding-right: 15px !important;
}

p#breadcrumbs {
   font-size: 20px;
   margin-left: auto;
   margin-bottom: 0;
   padding-right: 15px !important;
}
.home #breadcrumbs {
   display: none;
}

/*------------------------------------*\
   ARTICLE
\*------------------------------------*/
article img{
   width: 100%;
}

article .img-background {
   height: 200px;
   width: 100%;
   -webkit-background-size: cover; /* pour anciens Chrome et Safari */
 background-size: cover; /* version standardisée */
   background-repeat: no-repeat;
 background-position: center;
}

article span.category {
   font-style: italic;
}
.pagi a {
   padding: 3px;
   text-align: center;
   width: 100%;
   font-size: 15px;
}
.titre-mosaique {
   font-size: 40px;
}
.titre-content {
   color: white;
   background-color: rgba(0, 0, 0, 0.3);
   padding-bottom: 20px;
}
.titre-content a {
   color: white;
}
.align-end {
   align-items: flex-end;
}
.social {
   margin-top: 10px;
   font-size: 20px;
}
.cat-mosaique {
   font-style: italic;
}

/** BLOG AJAX **/

.blog-ajax article{
 cursor: pointer;
}
#popup-article{
 display: flex;
flex-direction: column;
align-items: center;
position: fixed;
bottom: 0px;
margin-left: auto;
width: 100%;
/*display: none;*/
background: #FFFFFF;
opacity: 0;
transition: all .3s;
animation: all .3s;
z-index: 9999;
padding: 50px;
margin-bottom: 150px;
}
#popup-article p{
 max-width: 80%;
 margin-left: 10%;
 margin-right: 10%;
}
#popup-article button{
 margin-left: auto;
}

.single-ajax-image{
 max-height: 250px;

}
/*------------------------------------*\
   CHECK BROWSER
\*------------------------------------*/

#checkBrowser {
   position:fixed;
   width:100%;
   background: rgb(39, 38, 54);
   padding:1em;
   bottom: 0;
   left: 0;
   color: #FFF;
   z-index: 9999999;
   height: auto;
   text-align : center;
}

#checkBrowser.browserOk.browserOld,#checkBrowser.browserOk { display:none; }
.browserOld { display:block; }
#checkBrowser #message { padding: 1em; }
#checkBrowser #message a { color:#EA5B0C; }

/*------------------------------------*\
   COOKIES
\*------------------------------------*/

#cookie {
   position: fixed;
   width: 40%;
   padding: 1em;
   background: #444;
   bottom: 15;
   z-index: 999;
   left: 15;
   color: #FFF;
   text-align: left;
   border-top: 4px solid #FFF;
   opacity: 1;
}
#cookie button{
   color: #444;
}
#msgCookie {
   display: inline-block;
   float: left;
   height: 50px;
}
#cookie button {
   margin: 0;
}
#cookieOk button {
   margin-top: 5px;
   background: transparent;
   color: #FFF;
   border: 1px solid #FFF;
   padding: .5em 1em;
}
#cookieOk button:hover {
   background: #fff;
   color: #444;
   border: 1px solid #FFF;
   padding: .5em 1em;
}
/*------------------------------------*\
   COMMENTS
\*------------------------------------*/
.comments {
}
.comments ul { list-style:none; }
/*------------------------------------*\
   IMAGES
\*------------------------------------*/



/*------------------------------------*\
   TYPOGRAPHY
\*------------------------------------*/

@font-face {
   font-family:'FontAwesome';
   src:url('assets/fonts/fontawesome-webfont.eot');
   src:url('assets/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
	   url('assets/fonts/fontawesome-webfont.woff') format('woff'),
	   url('assets/fonts/fontawesome-webfont.ttf') format('truetype'),
	   url('assets/fonts/fontawesome-webfont.svg#font-name') format('svg');
   font-weight:normal;
   font-style:normal;
}

/*@font-face {
   font-family:'Font-Name';
   src:url('fonts/font-name.eot');
   src:url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
	   url('fonts/font-name.woff') format('woff'),
	   url('fonts/font-name.ttf') format('truetype'),
	   url('fonts/font-name.svg#font-name') format('svg');
   font-weight:normal;
   font-style:normal;
}*/

@font-face {
   font-family:'dinCon';
   src: url('assets/fonts/DIN Pro Condensed Regular.eot');
   src: url('assets/fonts/DIN Pro Condensed Regular.eot?#iefix') format('embedded-opentype'),
	   url('assets/fonts/DIN Pro Condensed Regular.woff2') format('woff2'),
	   url('assets/fonts/DIN Pro Condensed Regular.woff') format('woff'),
	   url('assets/fonts/DIN Pro Condensed Regular.svg#DIN Pro Condensed Regular') format('svg');
   font-weight: 400;
   font-style: normal;
   font-stretch: condensed;
   unicode-range: U+0020-00FE;
}

@font-face {
   font-family:'GothamLight';
   src: url('assets/fonts/Gotham-Light.eot');
   src: url('assets/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
	   url('assets/fonts/Gotham-Light.woff2') format('woff2'),
	   url('assets/fonts/Gotham-Light.woff') format('woff'),
	   url('assets/fonts/Gotham-Light.svg#Gotham-Light') format('svg');
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   unicode-range: U+0020-00FE;
}

@font-face {
   font-family:'GothamBook';
   src: url('assets/fonts/Gotham-Book.eot');
   src: url('assets/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
	   url('assets/fonts/Gotham-Book.woff2') format('woff2'),
	   url('assets/fonts/Gotham-Book.woff') format('woff'),
	   url('assets/fonts/Gotham-Book.svg#Gotham-Book') format('svg');
   font-weight: 325;
   font-style: normal;
   font-stretch: normal;
   unicode-range: U+0020-00FE;
}

.din {
   font-family: 'dinCon';
}
.gothaml {
   font-family: 'GothamLight';
}
.gothamb {
   font-family: 'GothamBook';
}

/*------------------------------------*\
   RESPONSIVE
\*------------------------------------*/

/*@media only screen and (max-width:1280px) {
}*/


@media only screen and (max-width:960px) {
   .news-container {
   border-right: 0px;
 }
}
@media only screen and (max-width: 1200px)  {
 .hidden-md{
   display: none!important;
 }
}
@media only screen and (max-width: 992px)  {
 .hidden-sm{
   display: none!important;
 }
}

@media only screen and (max-width:768px) {
 .hidden-xs{
   display: none!important;
 }
 .large-menu{
   display: none;
 }
 #menu-btn{
   margin-left: auto;
 }
   .text-container{
	   width: auto!important;
   }
   .no-flex{
	   display: block!important;
   }
   .flex-colonne-768 {
	   flex-direction: column;
   }
   .flex-reverse-768 {
	   flex-direction: column-reverse;
   }
   .presta-slider>.slick-prev{
   left: calc((100% / 2) - (15px / 2))!important;
   top: 5%!important;
   transform: rotate(90deg)!important;
   width: 30px!important;
 }
 .presta-slider>.slick-next{
   left: calc((100% / 2) - (15px / 2))!important;
   top: 95%!important;
   transform: rotate(90deg)!important;
   width: 30px!important;
 }
}


/*@media only screen and (max-width:640px) {
}*/

@media only screen and (max-width:480px) {

}

/*@media only screen and (max-width:320px) {
}*/

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	  only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
   MISC
\*------------------------------------*/

::selection {
   background:#E0CE9F;
   color:#FFF;
   text-shadow:none;
}
::-webkit-selection {
   background:#E0CE9F;
   color:#FFF;
   text-shadow:none;
}
::-moz-selection {
   background:#E0CE9F;
   color:#FFF;
   text-shadow:none;
}

/*------------------------------------*\
   WORDPRESS CORE
\*------------------------------------*/

.alignnone {
   margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
   display:block;
   margin:5px auto 5px auto;
}
.alignright {
   float:right;
   margin:5px 0 20px 20px;
}
.alignleft {
   float:left;
   margin:5px 20px 20px 0;
}
a img.alignright {
   float:right;
   margin:5px 0 20px 20px;
}
a img.alignnone {
   margin:5px 20px 20px 0;
}
a img.alignleft {
   float:left;
   margin:5px 20px 20px 0;
}
a img.aligncenter {
   display:block;
   margin-left:auto;
   margin-right:auto;
}
.wp-caption {
   background:#FFF;
   border:1px solid #F0F0F0;
   max-width:96%;
   padding:5px 3px 10px;
   text-align:center;
}
.wp-caption.alignnone {
   margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
   margin:5px 20px 20px 0;
}
.wp-caption.alignright {
   margin:5px 0 20px 20px;
}
.wp-caption img {
   border:0 none;
   height:auto;
   margin:0;
   max-width:98.5%;
   padding:0;
   width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
   font-size:11px;
   line-height:17px;
   margin:0;
   padding:0 4px 5px;
}
.sticky {
}
.bypostauthor {
}

/*------------------------------------*\
   PRINT
\*------------------------------------*/

@media print {
   * {
	   background:transparent !important;
	   color:#000 !important;
	   box-shadow:none !important;
	   text-shadow:none !important;
   }
   a,
   a:visited {
	   text-decoration:underline;
   }
   a[href]:after {
	   content:" (" attr(href) ")";
   }
   abbr[title]:after {
	   content:" (" attr(title) ")";
   }
   .ir a:after,
   a[href^="javascript:"]:after,
   a[href^="#"]:after {
	   content:"";
   }
   pre,blockquote {
	   border:1px solid #999;
	   page-break-inside:avoid;
   }
   thead {
	   display:table-header-group;
   }
   tr,img {
	   page-break-inside:avoid;
   }
   img {
	   max-width:100% !important;
   }
   @page {
	   margin:0.5cm;
   }
   p,
   h2,
   h3 {
	   orphans:3;
	   widows:3;
   }
   h2,
   h3 {
	   page-break-after:avoid;
   }
}

/*------------------------------------*\
   ANIM
\*------------------------------------*/
.animation-fade-up-delay {
   animation: animation-fade-up-delay ease-out 0.5s;
   animation-iteration-count: 1;
   transform-origin: 50% 50%;
   animation-fill-mode: forwards;
   -webkit-animation: animation-fade-up-delay ease-out 0.5s;
   -webkit-animation-iteration-count: 1;
   -webkit-transform-origin: 50% 50%;
   -webkit-animation-fill-mode: forwards;
   -moz-animation: animation-fade-up-delay ease-out 0.5s;
   -moz-animation-iteration-count: 1;
   -moz-transform-origin: 50% 50%;
   -moz-animation-fill-mode: forwards;
   -o-animation: animation-fade-up-delay ease-out 0.5s;
   -o-animation-iteration-count: 1;
   -o-transform-origin: 50% 50%;
   -o-animation-fill-mode: forwards;
   -ms-animation: animation-fade-up-delay ease-out 0.5s;
   -ms-animation-iteration-count: 1;
   -ms-transform-origin: 50% 50%;
   -ms-animation-fill-mode: forwards;
   -webkit-animation-delay: 1000ms;
   -moz-animation-delay: 1000ms;
   -ms-animation-delay: 1000ms;
   -o-animation-delay: 1000ms;
   animation-delay: 1000ms;
}

.animation-fade-up{
 animation: animation-fade-up ease-out 0.5s;
 animation-iteration-count: 1;
 transform-origin: 50% 50%;
 animation-fill-mode:forwards; /*when the spec is finished*/
 -webkit-animation: animation-fade-up ease-out 0.5s;
 -webkit-animation-iteration-count: 1;
 -webkit-transform-origin: 50% 50%;
 -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
 -moz-animation: animation-fade-up ease-out 0.5s;
 -moz-animation-iteration-count: 1;
 -moz-transform-origin: 50% 50%;
 -moz-animation-fill-mode:forwards; /*FF 5+*/
 -o-animation: animation-fade-up ease-out 0.5s;
 -o-animation-iteration-count: 1;
 -o-transform-origin: 50% 50%;
 -o-animation-fill-mode:forwards; /*Not implemented yet*/
 -ms-animation: animation-fade-up ease-out 0.5s;
 -ms-animation-iteration-count: 1;
 -ms-transform-origin: 50% 50%;
 -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animation-fade-up{
 0% {
   opacity:0;
   transform:  translate(0px,20px)  ;
 }
 100% {
   opacity:1;
   transform:  translate(0px,0px)  ;
 }
}

@-moz-keyframes animation-fade-up{
 0% {
   opacity:0;
   -moz-transform:  translate(0px,20px)  ;
 }
 100% {
   opacity:1;
   -moz-transform:  translate(0px,0px)  ;
 }
}

@-webkit-keyframes animation-fade-up {
 0% {
   opacity:0;
   -webkit-transform:  translate(0px,20px)  ;
 }
 100% {
   opacity:1;
   -webkit-transform:  translate(0px,0px)  ;
 }
}

@-o-keyframes animation-fade-up {
 0% {
   opacity:0;
   -o-transform:  translate(0px,20px)  ;
 }
 100% {
   opacity:1;
   -o-transform:  translate(0px,0px)  ;
 }
}

@-ms-keyframes animation-fade-up {
 0% {
   opacity:0;
   -ms-transform:  translate(0px,20px)  ;
 }
 100% {
   opacity:1;
   -ms-transform:  translate(0px,0px)  ;
 }
}
.animation-fade-out{
 animation: animation-fade-out ease-out 0.5s;
 animation-iteration-count: 1;
 transform-origin: 50% 50%;
 animation-fill-mode:forwards; /*when the spec is finished*/
 -webkit-animation: animation-fade-out ease-out 0.5s;
 -webkit-animation-iteration-count: 1;
 -webkit-transform-origin: 50% 50%;
 -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
 -moz-animation: animation-fade-out ease-out 0.5s;
 -moz-animation-iteration-count: 1;
 -moz-transform-origin: 50% 50%;
 -moz-animation-fill-mode:forwards; /*FF 5+*/
 -o-animation: animation-fade-out ease-out 0.5s;
 -o-animation-iteration-count: 1;
 -o-transform-origin: 50% 50%;
 -o-animation-fill-mode:forwards; /*Not implemented yet*/
 -ms-animation: animation-fade-out ease-out 0.5s;
 -ms-animation-iteration-count: 1;
 -ms-transform-origin: 50% 50%;
 -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animation-fade-out{
 0% {
   opacity:1;
   transform:  translate(0px,0px)  ;
 }
 100% {
   opacity:0;
   transform:  translate(0px,-20px)  ;
 }
}

@-moz-keyframes animation-fade-out{
 0% {
   opacity:1;
   -moz-transform:  translate(0px,0px)  ;
 }
 100% {
   opacity:0;
   -moz-transform:  translate(0px,-20px)  ;
 }
}

@-webkit-keyframes animation-fade-out {
 0% {
   opacity:1;
   -webkit-transform:  translate(0px,0px)  ;
 }
 100% {
   opacity:0;
   -webkit-transform:  translate(0px,-20px)  ;
 }
}

@-o-keyframes animation-fade-out {
 0% {
   opacity:1;
   -o-transform:  translate(0px,0px)  ;
 }
 100% {
   opacity:0;
   -o-transform:  translate(0px,-20px) ;
 }
}

@-ms-keyframes animation-fade-out {
 0% {
   opacity:1;
   -ms-transform:  translate(0px,0px)  ;
 }
 100% {
   opacity:0;
   -ms-transform:  translate(0px,-20px) ;
 }
}
.animation-fade-down{
 animation: animation-fade-down ease-out 0.5s;
 animation-iteration-count: 1;
 transform-origin: 50% 50%;
 animation-fill-mode:forwards; /*when the spec is finished*/
 -webkit-animation: animation-fade-down ease-out 0.5s;
 -webkit-animation-iteration-count: 1;
 -webkit-transform-origin: 50% 50%;
 -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
 -moz-animation: animation-fade-down ease-out 0.5s;
 -moz-animation-iteration-count: 1;
 -moz-transform-origin: 50% 50%;
 -moz-animation-fill-mode:forwards; /*FF 5+*/
 -o-animation: animation-fade-down ease-out 0.5s;
 -o-animation-iteration-count: 1;
 -o-transform-origin: 50% 50%;
 -o-animation-fill-mode:forwards; /*Not implemented yet*/
 -ms-animation: animation-fade-down ease-out 0.5s;
 -ms-animation-iteration-count: 1;
 -ms-transform-origin: 50% 50%;
 -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animation-fade-down{
 0% {
   opacity:0;
   transform:  translate(0px,-20px)  ;
 }
 100% {
   opacity:1;
   transform:  translate(0px,0px)  ;
 }
}

@-moz-keyframes animation-fade-down{
 0% {
   opacity:0;
   -moz-transform:  translate(0px,-20px)  ;
 }
 100% {
   opacity:1;
   -moz-transform:  translate(0px,0px)  ;
 }
}

@-webkit-keyframes animation-fade-down {
 0% {
   opacity:0;
   -webkit-transform:  translate(0px,-20px)  ;
 }
 100% {
   opacity:1;
   -webkit-transform:  translate(0px,0px)  ;
 }
}

@-o-keyframes animation-fade-down {
 0% {
   opacity:0;
   -o-transform:  translate(0px,-20px)  ;
 }
 100% {
   opacity:1;
   -o-transform:  translate(0px,0px)  ;
 }
}

@-ms-keyframes animation-fade-down {
 0% {
   opacity:0;
   -ms-transform:  translate(0px,-20px)  ;
 }
 100% {
   opacity:1;
   -ms-transform:  translate(0px,0px)  ;
 }
}

.control-prev {
   font-size: 40px;
   z-index: 1;
   position: absolute;
   display: block;
   top: 50%;
   width: 20px;
   height: 20px;
   padding: 0;
   cursor: pointer;
   color: white;
   left: 3%;
}

.control-next {
   font-size: 40px;
   z-index: 1;
   position: absolute;
   top: 50%;
   display: block;
   width: 20px;
   height: 20px;
   padding: 0;
   cursor: pointer;
   color: white;
   right: 3%;
}

/*-------------------------
   Simple reset
--------------------------*/


*{
   margin:0;
   padding:0;
}


/*-------------------------
   General Styles
--------------------------*/

.animer{
   opacity: 0;
   transition: all .3s;
}

.animer.animation-class{
   opacity: 1;
}

.titre-content{
   width: 100%;
}

.direction-column{
   flex-direction: column!important;
}

#gallery-1 img{
   border: none!important;
}

#gallery-1{
   margin-top: 50px!important;
}

.line-separator{
   height: 1px;
   width: 100%;
   background: #000000;
   margin-top: 50px;
   margin-bottom: 50px;
}
